:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

span.sql-hl-keyword {
    /*font-weight: normal;*/
    color: purple;
}

span.sql-hl-special {
    color: darkgoldenrod;
}

span.sql-hl-bracket {
    color: black;
}

span.sql-hl-string {
    color: green;
}

span.sql-hl-number {
    color: blue;
}
